<!-- Title bar -->
  <div class="title-bar-clear">

    <ul class="right-links navigation">
      {% for page in site.pages %}
        {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

    <a href="#" class="navigation-trigger icon-only icon-menu"></a>

    <div class="logo">{{ site.title }}</div>

  </div>

  <!-- Header -->
  <header class="full">
    <div class="title-tight">
      <div class="inner">
        <h2>Welcome to {{ site.title }}</h2>
      </div>
    </div>

    <div class="bg-image"></div>
  </header>
