---
---

header .bg-image {
    background-image: url('../img/bg-london-eye.jpg') !important;
}

header .inner h2 {
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}

li {
    color: rgb(94, 94, 94);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 32px;
    word-wrap: break-word;
}